/*Quotation.js */
.page-title {
    font-size: 30px;
    font-family: cursive;
    /* font-family: 'Tiro Devanagari Marathi', serif; */
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
select#furniture {
    font-size: 20px;
    width: 100%;
    padding-left: 3%;
    padding-right: 20%;
    margin-top: 10px;
}
div#furnitureItem {
    /* text-align: center; */
    margin-top: 10px;
    margin-left: 20px;
}
span#furnitureItemName , span.grossTotal {
    font-size: 25px;
    margin-right: 20px;
    color: green;
    font-weight: bold;
}
.font20{
    font-size: 20px;
}
h1.page-title {
    position: sticky;
    top: 0;
    background: #ffa03cba;
    z-index: 99;
    padding: 3%;
    margin-top: 0;
    filter: drop-shadow(2px 4px 6px black);
}
/* new Component CSS */

.addComp {
    position: sticky;
    bottom: 10px;
    margin-left: 30%;
    /* visibility: hidden; */
}
.addComp button {
    margin-left: 20px;
    border-radius: 40px;
    font-size: 25px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* QuoteBox */

.quotebox .col-1.cardIcons {
    padding: 0;
}
.quotebox .col-1.cardIcons span.delete{
    color: darkred;
    z-index: 999;
}
.quotebox .col-1.cardIcons {
    display: flex;
    /* padding: 0;  */
}
.quotebox .col-1.cardIcons span {
    padding-left: 4px;
}
.quotebox span.delete svg {
    height: 28px;
    width: 28px;
}
.quotebox .card:hover {
    background: wheat;
}
.quotebox .card{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
span.totalCss {
    color:  #3e25c1;
}
span.float-end.rateCss {
    color: green;
}


/* Element Modal */

.modal-body select#element {
    width: 100%;
    background: burlywood;
    font-size: 20px;
}
.modal-body .select#plywood {
    width: 100%;
}





/* Plywood CSS */
.EditElement {
    margin-top: 9%;
}
.EditElement .row {
    margin-bottom: 10%;
}
.EditElement input {
    height: 91%;
}
.EditElement input#pieces {
    width: 100%;
    height: 31px;
    margin-left: 1px;
}
.EditElement div#plySelector {
    width: 100%;
}
.EditElement input#rate {
    width: 100%;
   
}
.EditElement div#submitBtn {
    display: flex;
    justify-content: flex-end;
}
.EditElement select#elementSelect {
    width: 100%;
}

input.percentage {
    width: 60px;
}


/*CustInfo*/

.custInfo .custName {
    display: flex;
}

.custInfo input.w-100 {
    border: none;
    border-bottom: 1px solid lightgray;
}
.custInfo select {
    border: none;
    background: white;
    border-bottom: 1px solid lightgrey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.addComp.btn{
    margin-left: 36% !important;
}


.details .DFlogo img {
    width: 100% !important;
}


/*Details*/
.details button.btn.btn-success.PdfGenerator {
    margin-left: 34%;
    margin-bottom: 5%;
}
.details button.wapbtn {
    background: #007a4900;
    border: none;
    color: white;
}